<h1>ChatRoom1vs1#index</h1>
<p>Find me in app/views/chat_room1vs1/index.html.erb</p>
<div id='chat_messages'>
</div>
<br/>
<form>
  <label>
    発言する: <input type="text" data-behavior="speak_chat_room1vs1">
  </label>
</form>